<mat-list role="list">
  <a mat-list-item role="listitem" routerLink="blogs">Blogs</a>
  <a mat-list-item role="listitem" routerLink="projects">Projects</a>
  <a mat-list-item role="listitem" routerLink="certificates">Certificates</a>
  <a mat-list-item role="listitem" routerLink="experiences">Experience</a>
  <a mat-list-item role="listitem" routerLink="coverletters">Cover Letters</a>
  <a mat-list-item role="listitem" routerLink="languages">Languages</a>
  <a mat-list-item role="listitem" routerLink="schools">Schools</a>
  <a mat-list-item role="listitem" routerLink="skills">Skills</a>
</mat-list>
